body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Tahoma, Geneva, "Verdana", sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 500;
}


.vc-experince {
  display: flex;
  flex-direction: column;
  background-image: url("container background.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  margin-top: 15%;
  margin-bottom: 15%;
  background-color: white;
  background-size: 50px 50px;
  
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

nav ul a {
  padding: 30px;
  color: black;
}

img {
  width: 10%;
}

/** Team section */
.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  background-image: url("white arch background.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

#lisa img {
  width: 62%;
}

#alex img {
  width: 50%;
}

#alysaa img {
  width: 50%;
}

/** Portfolio Section */

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
}

.portfolio img {
  width: 60%;
}



